@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="section-title">Privacy Policy</h1>
            <p class="about-text">Privacy policy content coming soon...</p>
        </div>
    </div>
</div>